<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
    <uses-permission android:name="android.permission.health.WRITE_HEART_RATE" />
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.health.WRITE_STEPS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FYP_2102623">
        <activity
            android:name=".WorkoutProgram.CustomProgram"
            android:exported="false" />
        <activity
            android:name=".WorkoutModule.Custom_Workout"
            android:exported="false" />
        <activity
            android:name=".WorkoutModule.Timer"
            android:exported="false" />
        <activity
            android:name=".WorkoutProgram.LegProgram"
            android:exported="false" />
        <activity
            android:name=".WorkoutProgram.ChestProgram"
            android:exported="false" />
        <activity
            android:name=".WorkoutProgram.BackProgram"
            android:exported="false" />
        <activity
            android:name=".WorkoutProgram.ArmProgram"
            android:exported="false" />
        <activity
            android:name=".WorkoutModule.BackWorkout"
            android:exported="false" />
        <activity
            android:name=".WorkoutModule.ChestWorkout"
            android:exported="false" />
        <activity
            android:name=".WorkoutModule.ArmWorkout"
            android:exported="false" />
        <activity
            android:name=".WorkoutModule.AutoWorkout"
            android:exported="false" />
        <activity
            android:name=".WorkoutModule.WorkoutCore"
            android:exported="false" />
        <activity
            android:name=".WorkoutProgram.CoreProgram"
            android:exported="false" />
        <activity
            android:name=".WorkoutModule.EndWorkout"
            android:exported="false" />
        <activity
            android:name=".TryGoogleAPI"
            android:exported="false" />
        <activity
            android:name=".WorkoutProgram.FullBodyProgram"
            android:exported="false" />
        <activity
            android:name=".WorkoutModule.LegWorkout"
            android:exported="false" />
        <activity
            android:name=".WorkoutModule.WorkoutFB"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SNG"
            android:exported="false" />
        <activity
            android:name=".Motivational"
            android:exported="false" />
        <activity
            android:name=".PersonalInfo"
            android:exported="false" />
        <activity
            android:name=".WorkoutModule.WorkoutPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>